a {
	cursor: progress;
	margin: 20px;
	padding: 10px;
} /* personalizar cursor */

a:visited {
	color: orange;
} /* link visitado*/

a:active {
	color: red;
} /*Link selecionado enquanto segura no botao do mouse*/

a:hover {
	background-color: red;
	color: azure;
}