.flex-0 {
    /*flex-grow, flex-shrink, flex-basis - Esse é o padrão de sequência quando utilizamos o modelo encurtado, grow = 0, shrink = 1, basis = 0 */
    flex: 1;
}

.flex-1 {
    flex: 1 1 100px;
}

.item.item3 {
    order: 1;  /*Decide a ordem dos itens, quanto maior o numero do Order mais o item vai jogando para o final*/
}

.item {
    height: 50px;
}


.align-self .item5 {
    align-self: auto;
}

.align-self.start .item3 {
    align-items: flex-start;
}

.align-self.end .item3 {
    align-items: flex-end;
}

.align-self.center .item3 {
    align-items: center;
}

.align-self.stretch .item3 {
    align-items: stretch;
}