.laranja {
  background-color: #B25954;
}

.marrom {
  background-color: #766A67;
}

.verde-claro {
  background-color: #309C8B;
}

.verde-escuro{
  background-color: #35636C;
}

.azul {
  background-color: #43ABC0;
}

.rosa {
  background-color: #C55BA3;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
}

.verde-claro {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /* Versão abreviada */
  /* grid-column: 1 / 3;
    grid-row: 1 / 3; */

    /* Ou */

  /*grid-column: 1 / span 2*/
  /*grid-row: 1 / span 2*/
}

.azul {
  grid-column-start: 3;
  grid-column-end: 6; 

  /*grid-column: 3 / span 3*/
  /*grid-row: 1 / span 1*/
}

.rosa {
  grid-column-start: 1;
  grid-column-end: 3;

  /*grid-column: 1 / span 3*/
  /*grid-row: 1 / span 1*/
}

  .verde-escuro {
    grid-row-start: 2;
  }

.laranja {
  /* grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4; */

  /* Versão abreviada */
  /* grid-column: 3 / 5;
    grid-row: 2 / 4; */

    /* Ou */ 

  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

.marrom {
  grid-column-start: 5;
  grid-column-end: 6;
}
