                         /*MARGIN*/
/* p {
	margin: 30px, 15px;   cima - baixo, lados
	sempre começando de cima e depois sentido horário
} */

/* p {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}
      Espaçamento entre elementos
*/

/* ------------------------------------------------------------------------*/
                       /*PADDING*/
/* p { 
	margin: 30px 15px;
	padding: 20px 9px 15px 3px;
	background-color: aquamarine;
}
Espaçamento interno
*/
/* ------------------------------------------------------------------------*/
                      /*BORDER*/
 p { 
   margin: 30px 15px;
   padding: 20px 9px 15px 3px;
   background-color: aquamarine;
   border: solid 20px;
   border-style: double;
   border-width: 20px;
   border-color: bisque;
}

h1 {
   border-style: solid;
   border-width: 20px;
   /*border-top-color: bisque;
   border-bottom-color: black;
   border-left-color: brown;
   border-right-color: blueviolet;*/
   border-color: green blue orange red;
}


